html, body {
  margin: 0;
  padding: 0;
}

.blowButton{
  width:100px;
  height: 70px;
  background-color: hsl(262, 28%, 45%);
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: none;
}
